body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    }
header{
    background-image: center;
}

.POP{
    display: none;
}
main{
    
}
footer{
    
    
}

ul{
    /* display:table;  定義 */ */ */
    /* table-layout: flex: ;; */ */
    flex-wrap: wrap;
    padding:10px;
    widows: 100%; */
    width: calc(100% / 3 - 60px);
    object-fit: cover; 
    float: left;
}
li{
    text-align: center;
    list-style-type:none;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */
    transform: translateY(-10px); */
    transition-duration: 0.5s; */
}
/* 画像を真ん中に */
img {
    max-width: 100%;
    height: auto;
    }
    